In [2]:
import pandas as pd

In [3]:
rain_type_2018 = pd.read_csv('./2018/을지로동_강수형태_201801_201812.csv')

In [5]:
rain_type_2018

      format: day    hour  value location:60_127 Start : 20180101
0               1     0.0                                      0.0
1               1   100.0                                      0.0
2               1   200.0                                      0.0
3               1   300.0                                      0.0
4               1   400.0                                      0.0
...           ...     ...                                      ...
8766           31  1900.0                                      0.0
8767           31  2000.0                                      0.0
8768           31  2100.0                                      0.0
8769           31  2200.0                                      0.0
8770           31  2300.0                                      0.0

[8771 rows x 3 columns]